---
const { searchParams } = Astro.url;
const bedrooms = searchParams.get("bedrooms");
const bathrooms = searchParams.get("bathrooms");
const minPrice = searchParams.get("minPrice");
const maxPrice = searchParams.get("maxPrice");
const response = await fetch(`${Astro.url.origin}/api/properties.json`);
const { properties } = await response.json();
console.log("🚀 ~ properties:", properties);
---

<form method="GET">
  <fieldset class="pb-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-2">
    <div>
      <label><strong>Min bedrooms</strong></label>
      <input
        value={bedrooms}
        type="number"
        name="bedrooms"
        class="w-full py-1 px-2 border border-event-horizon rounded-sm"
      />
    </div>
    <div>
      <label><strong>Min bathrooms</strong></label>
      <input
        value={bathrooms}
        type="number"
        name="bathrooms"
        class="w-full py-1 px-2 border border-event-horizon rounded-sm"
      />
    </div>
    <div>
      <label><strong>Min price</strong></label>
      <input
        value={minPrice}
        type="number"
        name="minPrice"
        class="w-full py-1 px-2 border border-event-horizon rounded-sm"
      />
    </div>
    <div>
      <label><strong>Max price</strong></label>
      <input
        value={maxPrice}
        type="number"
        name="maxPrice"
        class="w-full py-1 px-2 border border-event-horizon rounded-sm"
      />
    </div>
  </fieldset>
  <button
    type="submit"
    class="w-full text-white inline-block uppercase font-bold tracking-[1.3px] bg-event-horizon rounded-full py-3 px-6"
    >Search</button
  >
</form>
